In [5]:
import requests
import pandas as pd

def fetch_smartsheet_data(sheet_id):
    """
    Fetches Smartsheet data and returns it as a Pandas DataFrame.
    
    Parameters:
    sheet_id (str): The ID of the Smartsheet to fetch data from.
    bearer_token (str): The Smartsheet API bearer token for authorization.
    
    Returns:
    pd.DataFrame: DataFrame containing the sheet's data.
    """
    
    bearer_token = 'hhQ21NI9mu4JzKmskRS19wfiY7lX4smNGDUAo'
    
    headers = {
        'Authorization': f'Bearer {bearer_token}'
    }
    

    url = f'https://api.smartsheet.com/2.0/sheets/{sheet_id}'
    
    response = requests.get(url, headers=headers)
    sheet_data = response.json()
    
    columns = {col['id']: col['title'] for col in sheet_data['columns']}
    data = []

    
    for row in sheet_data['rows']:
        row_data = {columns[cell['columnId']]: cell.get('value', None) for cell in row['cells']}
        data.append(row_data)
    

    df = pd.DataFrame(data)
    return df

In [6]:
def fetch_all_sheets(bearer_token):
    """
    Fetches all available sheets and returns their data in a dictionary of DataFrames.
    
    Parameters:
    bearer_token (str): The Smartsheet API bearer token for authorization.
    
    Returns:
    dict: A dictionary where each key is the sheet name, and each value is a DataFrame containing the sheet's data.
    """
    headers = {
        'Authorization': f'Bearer {bearer_token}'
    }
    
    url = 'https://api.smartsheet.com/2.0/sheets'
    response = requests.get(url, headers=headers)
    sheets_data = response.json()['data']
    
    all_sheets_data = {}
    
    for sheet_info in sheets_data:
        sheet_id = sheet_info['id']
        sheet_name = sheet_info['name']
        print(f"Fetching data for sheet: {sheet_name} (ID: {sheet_id})")
        
        df = fetch_smartsheet_data(sheet_id)
        all_sheets_data[sheet_name] = df
    
    return all_sheets_data

bearer_token = 'hhQ21NI9mu4JzKmskRS19wfiY7lX4smNGDUAo'
all_sheets = fetch_all_sheets(bearer_token)

for sheet_name, df in all_sheets.items():
    print(f"\nData for sheet '{sheet_name}':")
    print(df)

Fetching data for sheet: (Archived) SAN ANTONIO, Y8, 5/1/23 - 4/30/24 (ID: 6100314079842180)
Fetching data for sheet: (Clinicians Only) Clinic Staff Turnover - 2024 (ID: 3474483830542212)
Fetching data for sheet: (Clinicians Only) Clinic Turnover 2024 - SAN (ID: 4906779712376708)
Fetching data for sheet: Clinic Staff Turnover - 2024 (ID: 5216127428808580)
Fetching data for sheet: Clinic Staff Turnover - 2024 (minus I&F) (ID: 133574799871876)
Fetching data for sheet: Clinic Turnover 2024 (minus I&F) - SAN (ID: 3402598795136900)
Fetching data for sheet: Clinic Turnover 2024 - SAN (ID: 2246047472504708)
Fetching data for sheet: Clinic Turnover GY8 (minus I&F) - SAN (ID: 8634708246089604)
Fetching data for sheet: Clinic Turnover GY8 - SAN (ID: 5153448274120580)
Fetching data for sheet: STAFF DIRECTORY - SAN (ID: 7870618436691844)
Fetching data for sheet: Staffing Ratio - 2021+ (ID: 2280819810166660)

Data for sheet '(Archived) SAN ANTONIO, Y8, 5/1/23 - 4/30/24':
                   Cohen Clinic                 Name         Position  \
0   Endeavors - San Antonio, TX          Laura Knoll        Clinician
1   Endeavors - San Antonio, TX  Christen Greenfield           Intern
2                          None        Rhonda Gaston   Lead Clinician
3   Endeavors - San Antonio, TX          Lisa Sierra           Intern
4   Endeavors - San Antonio, TX  Carolina Echeverria  Case Management
..                          ...                  ...              ...
65                         None                 None             None
66                         None                 None             None
67                         None                 None             None
68                         None                 None             None
69                         None                 None             None

   Staff Location           Title & Credentials Grant Funded (outside CVN)  \
0            None  Supervising Clinician, LPC-S                       None
1    Fully Remote                        Intern                       None
2            None                          None                       None
3            None                     Volunteer                       None
4            None  .5 Medical Case Manager, LVN                       None
..            ...                           ...                        ...
65           None                          None                       None
66           None                          None                       None
67           None                          None                       None
68           None                          None                       None
69           None                          None                       None

   Academic Affiliation        CAQH#          NPI# CICBH Credential  ...  \
0                   None  15721614.0  1164957445.0             None  ...
1        Duke University         NaN           N/A             None  ...
2                   None         NaN          None             None  ...
3                   None         NaN           N/A             None  ...
4                   None         NaN           N/A             None  ...
..                   ...         ...           ...              ...  ...
65                  None         NaN          None             None  ...
66                  None         NaN          None             None  ...
67                  None         NaN          None             None  ...
68                  None         NaN          None             None  ...
69                  None         NaN          None             None  ...

   Yr. 5 Months Worked Yr. 5 Months Worked (FTE adjusted) End Date Month  \
0                  NaN                                NaN            5.0
1                  NaN                                NaN            5.0
2                  NaN                                0.0            5.0
3                  NaN                                NaN            5.0
4                  NaN                                NaN            6.0
..                 ...                                ...            ...
65                 NaN                                NaN           None
66                 NaN                                NaN           None
67                 NaN                                NaN           None
68                 NaN                                NaN           None
69                 NaN                                NaN           None

   End Date Year Non-Fellow/ Intern Lead Clinician/Clinician  \
0         2023.0                1.0                      1.0
1         2023.0                0.0                      NaN
2         2023.0                1.0                      1.0
3         2023.0                0.0                      NaN
4         2023.0                1.0                      NaN
..           ...                ...                      ...
65          None                NaN                      NaN
66          None                NaN                      NaN
67          None                NaN                      NaN
68          None                NaN                      NaN
69          None                NaN                      NaN

   Non Military-Connected Partner Org clinic_id        clinic_name_new
0                    None   Endeavors         2  END - San Antonio, TX
1      #INVALID OPERATION   Endeavors         2  END - San Antonio, TX
2      #INVALID OPERATION       BLANK     BLANK                  BLANK
3                    None   Endeavors         2  END - San Antonio, TX
4      #INVALID OPERATION   Endeavors         2  END - San Antonio, TX
..                    ...         ...       ...                    ...
65                   None        None      None                   None
66                   None        None      None                   None
67                   None        None      None                   None
68                   None        None      None                   None
69                   None        None      None                   None

[70 rows x 75 columns]

Data for sheet '(Clinicians Only) Clinic Staff Turnover - 2024':
               Cohen Clinic  # Separated Employees  Avg. # Employees  Turnover
0               Addison, TX                    1.0          8.083333  0.123711
1   Anchorage/Fairbanks, AK                    2.0          8.666667  0.230769
2           Clarksville, TN                    0.0          8.916667  0.000000
3      Colorado Springs, CO                    0.0          4.166667  0.000000
4               El Paso, TX                    3.0          9.250000  0.324324
5          Fayetteville, NC                    1.0         10.000000  0.100000
6            Hinesville, GA                    0.0          4.250000  0.000000
7          Jacksonville, FL                    0.0          6.000000  0.000000
8          Jacksonville, NC                    1.0          8.583333  0.116505
9               Killeen, TX                    3.0          5.166667  0.580645
10             Lakewood, WA                    2.0         13.583333  0.147239
11                Lawton,OK                    1.0          6.500000  0.153846
12             Mililani, HI                    7.0          8.083333  0.865979
13        New York City, NY                   10.0          5.833333  1.714286
14            Oceanside, CA                    2.0          4.583333  0.436364
15        Oklahoma City, OK                    0.0          3.166667  0.000000
16         Philadelphia, PA                    8.0          4.166667  1.920000
17          San Antonio, TX                    3.0         12.083333  0.248276
18            San Diego, CA                    3.0          5.916667  0.507042
19        Silver Spring, MD                    2.0          8.083333  0.247423
20                Tampa, FL                    0.0          6.916667  0.000000
21             Torrance, CA                    2.0          6.333333  0.315789
22       Virginia Beach, VB                    3.0          5.916667  0.507042
23            Network Total                   54.0        164.250000  0.328767

Data for sheet '(Clinicians Only) Clinic Turnover 2024 - SAN':
   Primary Column  Month #  # Separated Employees  Avg # Employees  Turnover  \
0          2024.0      NaN                    NaN              NaN       NaN
1         January      1.0                    1.0        12.000000  0.083333
2        February      2.0                    0.0        13.000000  0.000000
3           March      3.0                    0.0        13.000000  0.000000
4           April      4.0                    0.0        13.000000  0.000000
5             May      5.0                    2.0        11.000000  0.181818
6            June      6.0                    0.0        11.000000  0.000000
7            July      7.0                    0.0        12.000000  0.000000
8          August      8.0                    0.0        12.000000  0.000000
9       September      9.0                    0.0        12.000000  0.000000
10        October     10.0                    0.0        12.000000  0.000000
11       November     11.0                    0.0        12.000000  0.000000
12       December     12.0                    0.0        12.000000  0.000000
13           None      NaN                    3.0        12.083333  0.248276

   Month Start   Month End
0         None        None
1   2024-01-01  2024-01-31
2   2024-02-01  2024-02-28
3   2024-03-01  2024-03-31
4   2024-04-01  2024-04-30
5   2024-05-01  2024-05-31
6   2024-06-01  2024-06-30
7   2024-07-01  2024-07-31
8   2024-08-01  2024-08-31
9   2024-09-01  2024-09-30
10  2024-10-01  2024-10-31
11  2024-11-01  2024-11-30
12  2024-12-01  2024-12-31
13        None        None

Data for sheet 'Clinic Staff Turnover - 2024':
               Cohen Clinic  # Separated Employees  Avg. # Employees  Turnover
0               Addison, TX                    6.0         22.083333  0.271698
1   Anchorage/Fairbanks, AK                    9.0         23.416667  0.384342
2           Clarksville, TN                    7.0         30.166667  0.232044
3      Colorado Springs, CO                    3.0         10.833333  0.276923
4               El Paso, TX                   12.0         30.333333  0.395604
5          Fayetteville, NC                    5.0         28.583333  0.174927
6            Hinesville, GA                    3.0          9.833333  0.305085
7          Jacksonville, FL                    4.0         21.250000  0.188235
8          Jacksonville, NC                    7.0         18.916667  0.370044
9               Killeen, TX                    8.0         20.750000  0.385542
10             Lakewood, WA                    8.0         27.583333  0.290030
11               Lawton, OK                    5.0         16.916667  0.295567
12             Mililani, HI                   14.0         23.166667  0.604317
13        New York City, NY                   24.0         13.500000  1.777778
14            Oceanside, CA                    3.0         12.916667  0.232258
15             Oklahoma, OK                    4.0          9.416667  0.424779
16         Philadelphia, PA                   23.0         11.166667  2.059701
17          San Antonio, TX                   20.0         34.250000  0.583942
18            San Diego, CA                    6.0         16.583333  0.361809
19        Silver Spring, MD                    7.0         23.166667  0.302158
20                Tampa, FL                    2.0         16.500000  0.121212
21             Torrance, CA                    2.0         13.083333  0.152866
22       Virginia Beach, VA                    9.0         15.583333  0.577540
23            Network Total                  191.0        450.000000  0.424444

Data for sheet 'Clinic Staff Turnover - 2024 (minus I&F)':
               Cohen Clinic  # Separated Employees  Avg. # Employees  Turnover
0               Addison, TX                    2.0         18.333333  0.109091
1   Anchorage/Fairbanks, AK                    7.0         19.916667  0.351464
2           Clarksville, TN                    3.0          9.833333  0.305085
3      Colorado Springs, CO                    3.0          9.833333  0.305085
4               El Paso, TX                    5.0         25.333333  0.197368
5          Fayetteville, NC                    3.0         24.250000  0.123711
6            Hinesville, GA                    3.0          9.833333  0.305085
7          Jacksonville, FL                    4.0         19.250000  0.207792
8          Jacksonville, NC                    5.0         16.500000  0.303030
9               Killeen, TX                    6.0         19.416667  0.309013
10             Lakewood, WA                    6.0         24.916667  0.240803
11               Lawton, OK                    3.0         14.000000  0.214286
12             Mililani, HI                   12.0         22.416667  0.535316
13        New York City, NY                   19.0         18.142857  1.047244
14            Oceanside, CA                    3.0          8.833333  0.229299
15             Oklahoma, OK                    0.0          8.833333  0.000000
16         Philadelphia, PA                   20.0          9.416667  2.123894
17          San Antonio, TX                    4.0         26.888889  0.148760
18            San Diego, CA                    5.0         14.250000  0.350877
19        Silver Spring, MD                    5.0         17.666667  0.283019
20                Tampa, FL                    1.0         15.250000  0.065574
21             Torrance, CA                    3.0         13.083333  0.229299
22       Virginia Beach, VA                    7.0         13.750000  0.509091
23            Network Total                  129.0        379.948413  0.339520

Data for sheet 'Clinic Turnover 2024 (minus I&F) - SAN':
   Primary Column  Month #  # Separated Employees  Avg # Employees  Turnover  \
0          2024.0      NaN                    NaN              NaN       NaN
1         January      1.0                    1.0        26.000000  0.038462
2        February      2.0                    0.0        28.000000  0.000000
3           March      3.0                    0.0        28.000000  0.000000
4           April      4.0                    0.0        28.000000  0.000000
5             May      5.0                    2.0        26.000000  0.076923
6            June      6.0                    0.0        26.000000  0.000000
7            July      7.0                    1.0        26.000000  0.038462
8          August      8.0                    1.0        26.000000  0.038462
9       September      9.0                    0.0        27.000000  0.000000
10        October     10.0                    1.0        26.000000  0.038462
11       November     11.0                    0.0        26.000000  0.000000
12       December     12.0                    0.0        26.000000  0.000000
13           None      NaN                    6.0        26.583333  0.225705

   Month Start   Month End
0         None        None
1   2024-01-01  2024-01-31
2   2024-02-01  2024-02-29
3   2024-03-01  2024-03-31
4   2024-04-01  2024-04-30
5   2024-05-01  2024-05-31
6   2024-06-01  2024-06-30
7   2024-07-01  2024-07-31
8   2024-08-01  2024-08-31
9   2024-09-01  2024-09-30
10  2024-10-01  2024-10-31
11  2024-11-01  2024-11-30
12  2024-12-01  2024-12-31
13        None        None

Data for sheet 'Clinic Turnover 2024 - SAN':
   Primary Column  Month #  # Separated Employees  Avg # Employees  Turnover  \
0          2024.0      NaN                    NaN              NaN       NaN
1         January      1.0                    1.0            31.00  0.032258
2        February      2.0                    1.0            37.00  0.027027
3           March      3.0                    0.0            38.00  0.000000
4           April      4.0                    4.0            34.00  0.117647
5             May      5.0                    3.0            31.00  0.096774
6            June      6.0                    0.0            36.00  0.000000
7            July      7.0                    1.0            36.00  0.027778
8          August      8.0                    7.0            31.00  0.225806
9       September      9.0                    1.0            34.00  0.029412
10        October     10.0                    2.0            34.00  0.058824
11       November     11.0                    0.0            34.00  0.000000
12       December     12.0                    0.0            35.00  0.000000
13           None      NaN                   20.0            34.25  0.583942

   Month Start   Month End
0         None        None
1   2024-01-01  2024-01-31
2   2024-02-01  2024-02-28
3   2024-03-01  2024-03-31
4   2024-04-01  2024-04-30
5   2024-05-01  2024-05-31
6   2024-06-01  2024-06-30
7   2024-07-01  2024-07-31
8   2024-08-01  2024-08-31
9   2024-09-01  2024-09-30
10  2024-10-01  2024-10-31
11  2024-11-01  2024-11-30
12  2024-12-01  2024-12-31
13        None        None

Data for sheet 'Clinic Turnover GY8 (minus I&F) - SAN':
   Primary Column  Month #  # Separated Employees  Avg # Employees  Turnover  \
0          2023.0      NaN                    NaN              NaN       NaN
1             May      1.0                    1.0             26.0  0.038462
2            June      2.0                    2.0             24.0  0.083333
3            July      3.0                    0.0             24.0  0.000000
4          August      4.0                    0.0             25.0  0.000000
5       September      5.0                    0.0             28.0  0.000000
6         October      6.0                    1.0             27.0  0.037037
7        November      7.0                    0.0             27.0  0.000000
8        December      8.0                    0.0             27.0  0.000000
9          2024.0      NaN                    NaN              NaN       NaN
10        January      9.0                    1.0             26.0  0.038462
11       February     10.0                    0.0             28.0  0.000000
12          March     11.0                    0.0             28.0  0.000000
13          April     12.0                    0.0             28.0  0.000000
14           None      NaN                    5.0             26.5  0.188679

   Month Start   Month End
0         None        None
1   2023-05-01  2023-05-31
2   2023-06-01  2023-06-30
3   2023-07-01  2023-07-31
4   2023-08-01  2023-08-31
5   2023-09-01  2023-09-30
6   2023-10-01  2023-10-31
7   2023-11-01  2023-11-30
8   2023-12-01  2023-12-30
9         None        None
10  2024-01-01  2024-01-31
11  2024-02-01  2024-02-28
12  2024-03-01  2024-03-31
13  2024-04-01  2024-04-30
14        None        None

Data for sheet 'Clinic Turnover GY8 - SAN':
   Primary Column  Month #  # Separated Employees  Avg # Employees  Turnover  \
0          2023.0      NaN                    NaN              NaN       NaN
1             May      1.0                    3.0        29.000000  0.103448
2            June      2.0                    2.0        33.000000  0.060606
3            July      3.0                    1.0        32.000000  0.031250
4          August      4.0                    4.0        31.000000  0.129032
5       September      5.0                    0.0        34.000000  0.000000
6         October      6.0                    1.0        33.000000  0.030303
7        November      7.0                    1.0        36.000000  0.027778
8        December      8.0                    4.0        32.000000  0.125000
9          2024.0      NaN                    NaN              NaN       NaN
10        January      9.0                    1.0        31.000000  0.032258
11       February     10.0                    1.0        37.000000  0.027027
12          March     11.0                    0.0        38.000000  0.000000
13          April     12.0                    4.0        34.000000  0.117647

In [9]:
def fetch_sheet_by_name(sheet_name, bearer_token):
    """
    Fetches data for a specific sheet by its name.
    
    Parameters:
    sheet_name (str): The name of the sheet to fetch.
    bearer_token (str): The Smartsheet API bearer token for authorization.
    
    Returns:
    pd.DataFrame or None: DataFrame containing the sheet's data if found, otherwise None.
    """
    headers = {
        'Authorization': f'Bearer {bearer_token}'
    }
    
    url = 'https://api.smartsheet.com/2.0/sheets'
    response = requests.get(url, headers=headers)
    sheets_data = response.json()['data']
    
    sheet_info = next((sheet for sheet in sheets_data if sheet['name'] == sheet_name), None)
    
    if sheet_info:
        return fetch_smartsheet_data(sheet_info['id'])
    else:
        print(f"Sheet '{sheet_name}' not found.")
        return None


bearer_token = 'hhQ21NI9mu4JzKmskRS19wfiY7lX4smNGDUAo'
sheet_name = "(Clinicians Only) Clinic Staff Turnover - 2024"
df = fetch_sheet_by_name(sheet_name, bearer_token)
print(df)

Found sheet '(Clinicians Only) Clinic Staff Turnover - 2024' with ID: 3474483830542212
               Cohen Clinic  # Separated Employees  Avg. # Employees  Turnover
0               Addison, TX                    1.0          8.083333  0.123711
1   Anchorage/Fairbanks, AK                    2.0          8.666667  0.230769
2           Clarksville, TN                    0.0          8.916667  0.000000
3      Colorado Springs, CO                    0.0          4.166667  0.000000
4               El Paso, TX                    3.0          9.250000  0.324324
5          Fayetteville, NC                    1.0         10.000000  0.100000
6            Hinesville, GA                    0.0          4.250000  0.000000
7          Jacksonville, FL                    0.0          6.000000  0.000000
8          Jacksonville, NC                    1.0          8.583333  0.116505
9               Killeen, TX                    3.0          5.166667  0.580645
10             Lakewood, WA                    2.0         13.583333  0.147239
11                Lawton,OK                    1.0          6.500000  0.153846
12             Mililani, HI                    7.0          8.083333  0.865979
13        New York City, NY                   10.0          5.833333  1.714286
14            Oceanside, CA                    2.0          4.583333  0.436364
15        Oklahoma City, OK                    0.0          3.166667  0.000000
16         Philadelphia, PA                    8.0          4.166667  1.920000
17          San Antonio, TX                    3.0         12.083333  0.248276
18            San Diego, CA                    3.0          5.916667  0.507042
19        Silver Spring, MD                    2.0          8.083333  0.247423
20                Tampa, FL                    0.0          6.916667  0.000000
21             Torrance, CA                    2.0          6.333333  0.315789
22       Virginia Beach, VB                    3.0          5.916667  0.507042
23            Network Total                   54.0        164.250000  0.328767